<mat-card>
    <mat-card-content>
        <mat-card style="padding: 16px;">
            <h2 style="font-size: 18px;font-weight:bold" transloco="system.quan_ly_tin_tuc"></h2>

            <div style="width: 100%;display: flex;">
                <div class="form-group col-md-6 col-sm-12">
                    <input type="file" style="display: inline-block;" (change)="incomingfile($event)"
                        placeholder="Upload file" accept=".xlsx">
                    <button type="button" class="btn btn-info" (click)="Upload()">Upload</button>
                </div>
            </div>
            <div style="width: 100%;" class="d-md-flex">
                <div class="form-group col-md-6 col-sm-12">
                    <label>{{'system.tim_kiem' | transloco}} ({{'system.ten' | transloco}} | {{'system.ma' | transloco}}) </label>

                    <input class="form-control" (change)="loadListData()" [(ngModel)]="search"
                        placeholder="Nhập tên, mã" type="text" />
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label transloco="system.trang_thai_su_dung"></label>
                    <div class="flex-1">
                        <mat-select class="form-control" #select [(ngModel)]="status"
                            (selectionChange)="loadListData()">
                            <mat-option *ngFor="let item of listOptions" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>
            <section style="display: flex;justify-content: end;align-items: center;margin-right: 12px;">
                <div class="example-button-row">
                    <button mat-raised-button style="background-color:rgb(228 144 24);color: white;margin-right: 8px;"
                        (click)="exportexcel()" transloco="system.xuat_excel"></button>
                    <button mat-raised-button style="background-color: green;color: white;"
                        (click)="openDialogAdd()" transloco="system.them"></button>
                </div>
            </section>
        </mat-card>
        <br>
        <mat-card style="padding: 16px;">
            <div style="margin-top: 20px;overflow-y: auto;">
                <table class="table table-hover" style="overflow-y: auto" id="excel-table">
                    <thead>
                        <tr style="background-color: rgb(99, 99, 249);color: white;font-weight: bold;">
                            <th scope="col"></th>
                           <th scope="col" transloco="system.stt"></th>
                            <th scope="col" transloco="system.tuyen_dung"></th>
                            <th scope="col" transloco="system.thong_tin_chung"></th>
                            <th scope="col" transloco="system.nguoi_cap_nhat"></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="listData.length != 0">
                        <tr
                            *ngFor="let item of listData | paginate: { itemsPerPage: itemPerPage, currentPage: p };index as i;">
                            <td style="width: 50px; vertical-align: middle;" align="center">
                                <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                                <mat-menu #menu="matMenu">
                                    <button (click)="openDialogView(item)" mat-menu-item transloco="system.xem"></button>
                                    <button mat-menu-item (click)="openDialogEdit(item)" transloco="system.sua"></button>
                                    <button *ngIf="item.status_del == 1" mat-menu-item (click)="Delete(item)" transloco="system.ngung_su_dung"></button>
                                    <button *ngIf="item.status_del == 2" mat-menu-item (click)="convert(item)" transloco="system.su_dung_lai"></button>
                                </mat-menu>
                            </td>
                            <td style="width: 50px;" align="center" scope="row">{{i + 1}}</td>

                            <td>
                                <p style="font-weight:bold;color:blue;margin:0px;">{{item.ma}}</p>
                                <p *ngIf="item.ten != null" style="margin: 0px;"><span
                                        style="font-weight: bold;"><span transloco="system.ten"></span>:&nbsp;</span><span>{{item.ten}}</span>
                                </p>
                                <p *ngIf="item.title != null" style="margin: 0px;"><span style="font-weight: bold;" transloco="system.tieu_de">:&nbsp;</span><span>{{item.title}}</span>
                                </p>
                            </td>
                            <td>
                                <p *ngIf="item.so_luong != null" style="margin: 0px;"><span
                                        style="font-weight: bold;" ><span transloco="system.so_luong"></span>:&nbsp;</span><span>{{item.so_luong |
                                        number}}</span>
                                </p>
                                <p *ngIf="item.id_loai_luong != null" style="margin: 0px;">
                                    <span *ngIf="item.id_loai_luong == 1" style="font-weight: bold;"><span transloco="system.thuong_luong"></span>
                                    </span>
                                    <span *ngIf="item.id_loai_luong != 1" style="font-weight: bold;"><span transloco="system.muc_luong"></span>: &nbsp;
                                        <span>{{item.luong_from}}</span> - <span
                                            *ngIf="item.id_loai_luong == 3">{{item.luong_to}}</span>
                                    </span>&nbsp;
                                    <span *ngIf="item.ten_don_vi_tinh!=null && item.id_loai_luong != 1">{{item.ten_don_vi_tinh}}</span>
                                </p>
                                <p *ngIf="item.ten_chuc_danh != null" style="margin: 0px;"><span
                                        style="font-weight: bold;"><span transloco="system.vi_tri"></span>:&nbsp;</span><span>{{item.ten_chuc_danh
                                        }}</span>
                                </p>
                                <p *ngIf="item.ten_phuc_loi != null" style="margin: 0px;"><span
                                        style="font-weight: bold;"><span transloco="system.phuc_loi"></span>:&nbsp;</span><span>{{item.ten_phuc_loi
                                        }}</span>
                                </p>
                            </td>
                            <td style="width: 200px;vertical-align: middle">
                                <p style="font-weight:bold;color:blue;margin:0px;">{{item.ten_nguoi_cap_nhat}}</p>
                                <p>{{item.update_date | date: 'dd/MM/yyyy HH:mm'}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="display: flex;justify-content: center;align-items: center;margin-top: 20px;">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </mat-card>
    </mat-card-content>
</mat-card>