<div>
    <div style="height: 60px;background-color: blue;display: flex;align-items: center;margin-bottom: 20px;">
        <h3 style="font-size: 16px; font-weight: bold;color: white;margin-bottom: 0;margin-left: 16px;">Tin tức</h3>
    </div>

    <div style="width: 100%;display: flex;">
        <div class="form-group col-md-6 col-12" style="margin-bottom: 0px;margin-top: 0px;">
            <cm_input [errorModel]="errorModel"
            [label]="'system.tieu_de'"
            [keyError]="'tieu_de'"
            [actionEnum]="actionEnum"
            [(model)]="record.tieu_de"></cm_input>
        </div>
        <div class="form-group col-md-6 col-12" style="margin-bottom: 0px;margin-top: 0px;">
            <cm_input [errorModel]="errorModel"
            [label]="'system.tom_tat'"
            [keyError]="'tom_tat'"
            [actionEnum]="actionEnum"
            [(model)]="record.tom_tat"></cm_input>
        </div>
    </div>

    <div style="width: 100%;display: flex;">
        <div class="form-group col-md-6 col-12" style="margin-bottom: 0px;margin-top: 0px;">
            <cm_input [errorModel]="errorModel"
            [label]="'system.nguon_tin_tuc'"
            [keyError]="'nguon_tin_tuc'"
            [actionEnum]="actionEnum"
            [(model)]="record.nguon_tin_tuc"></cm_input>
        </div>

        <div class="form-group col-md-6 col-12" style="margin-bottom: 0px;">
            <cm_input [errorModel]="errorModel"
            [label]="'system.ngay_dang'"
            [keyError]="'ngay_dang'"
            [type]="'datepicker'"
            [actionEnum]="actionEnum"
            [(model)]="record.ngay_dang"></cm_input>
            <!-- <label>Ngày sinh</label>
            <input [disabled]="actionEnum == 3" [(ngModel)]="record.birthday" class="form-control"
                placeholder="Nhập vào đây" type="date" /> -->
        </div>
    </div>
    <div style="width: 100%;display: flex;">
        <div class="form-group col-md-6 col-12" style="margin-bottom: 0px;">
            <cm_select 
                [errorModel]="errorModel" 
                [actionEnum]="actionEnum" 
                [label]="'system.nhom_tin_tuc'" 
                [keyError]="'id_nhom_tin_tuc'" 
                [listData]="list_nhom_tin_tuc" 
                [(model)]="record.id_nhom_tin_tuc">
            </cm_select>
        </div>
        <div class="form-group col-md-6 col-12" style="margin-bottom: 0px;">
            <cm_select 
                [errorModel]="errorModel" 
                [actionEnum]="actionEnum" 
                [label]="'system.loai_tin_tuc'" 
                [keyError]="'id_loai_tin_tuc'" 
                [listData]="list_loai_tin_tuc" 
                [(model)]="record.id_loai_tin_tuc">
            </cm_select>
        </div>
    </div>
    <div style="width: 100%;display: flex;">
        <div class="form-group col-sm-12">
            <mat-checkbox [(ngModel)]="record.is_comment">Cho phép bình luận</mat-checkbox>
        </div>
    </div>
    <div style="width: 100%;display: flex;">
        <div class="form-group col-sm-12">
            <label>Nội dung</label>
            <angular-editor [disabled]="actionEnum == 3" [config]="config" [(ngModel)]="record.noi_dung"></angular-editor>
        </div>
    </div>
    <div style="width: 100%;padding: 8px;">
        <label style="margin-left: 8px;">Hình ảnh</label>
        <div class="form-group col-sm-12" 
        style="width: 100%;min-height: 300px;">
            <!-- <div style="display: flex; justify-content: space-between; align-items: center;" class="div_hide_file">
                <label class="my-0">Upload image</label>
               
            </div> -->
            <img [src]="record.image" alt="" style="width: 100%;height: 300px;object-fit: contain;border: 1px solid gray;border-radius: 8px;margin-top: 8px;position: relative;">
            <div style="position: absolute;bottom: 3%;right: 3%;">
                <img src="/assets/images/camera.png" alt="" style="width: 60px;height: 60px;border-radius: 50%;position: relative;" (change)="uploadPhoto($event)">
                <input type="file" class="hide_file" style="position: absolute;" (change)="uploadPhoto($event)">
            </div>
        </div>
    </div>
    <section style="display: flex;justify-content: end;align-items: center;margin: 20px 12px;">
        <div class="example-button-row">
            <button mat-raised-button color="primary" style="margin-right: 8px;" (click)="close()" transloco="system.dong"></button>
            <button *ngIf="this.actionEnum == 1" mat-raised-button style="background-color: green;color: white;"
                (click)="save()" transloco="system.them"></button>
            <button *ngIf="this.actionEnum == 2" mat-raised-button style="background-color: green;color: white;"
                (click)="save()" transloco="system.sua"></button>
        </div>
    </section>
</div>